.classpath
.gradle/
.metadata/
.project
.settings/
.factorypath
build/
bin/
*.class
.idea
**/logs/
*.log
target/
*.bak
.pmd
.checkstyle
logs/
.sonar/
sql/drivers/
.vagrant
out/
*.iml
*~
.nb*
*.h2.db
*.lock.db
*.version
*.war
*.ipr
*.iws
*.pem
.DS_Store
src-gen/
launch/private
